<!-- Sidenav -->
<!-- <app-sidebar *ngIf="this.currentUser"></app-sidebar> 
<app-auth-layout *ngIf="!currentUser"></app-auth-layout> -->
<!-- <app-admin-layout *ngIf="!currentUser"></app-admin-layout> -->
<!-- <div class="main-content">
  <app-navbar [currentUser]="this.currentUser" *ngIf="this.currentUser"></app-navbar>
  <router-outlet></router-outlet>
  <div class="container-fluid">
    <app-footer></app-footer>
  </div>
</div> -->
<router-outlet></router-outlet>
<ngo-loading-spinner></ngo-loading-spinner>
