<section style="background-color: #F5F5F5; display: flex; flex-direction: column;">
    <!-- Navbar -->
    <div class="nav-bar-header-section">
        <div class="nav-bar-left-section">COMPANY LOGO</div>
        <div class="nav-search"> 
            <div class="dashboard-right-section-header-content">
            <div class="search-container">
                <label for="search-input" class="visually-hidden">Search keywords, jobs, sales</label>
                <div class="search-icon-wrapper">
                  <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3210d1913965940e6b4e8e84c62fa10d143c5e576221ebe4b49ead27ca5af006?placeholderIfAbsent=true&apiKey=9e16588387084fb2a9a51a1b99489136" alt="" class="search-icon" />
                </div>
                <div class="search-input-wrapper">
                  <input type="text" id="search-input" class="search-placeholder" placeholder="Search keywords, jobs, sales" aria-label="Search keywords, jobs, sales" />
                </div>
            </div>        
          
        </div>
       

        <div class="nav-bar-right-section">
          <div class="nav-bar-button-section">
            <p-button label="Home"  [text]="true" [plain]="true"/>
            <p-button label="Jobs" [text]="true" [plain]="true"/>
            <p-button label="Companies" [text]="true" [plain]="true" />
            <p-button label="Services" [text]="true" [plain]="true" />
          </div>
          <div class="nav-bar-image-section">
            <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/9088a7aa7dc3fe7c8c1c9ea834a2a100fdd132b73be5f429036c503d87d335d8?placeholderIfAbsent=true&apiKey=9e16588387084fb2a9a51a1b99489136" class="profile-image" alt="User profile" />
          </div>
         
        </div>
      </div>
    </div>





    <div class="dashboard-parent-component">
      <div class="dashboard-left-section">
        <div class="dashboard-left-section-contents">
          <div class="user-info">
            <div class="user-avatar">N</div>
            <div class="user-name">Natalya</div>
          </div>
          <div class="menu-text">Menu</div>
          <div class="app-sidebar-icon-label">
            <div>
              <app-dashboard-icon></app-dashboard-icon>
            </div>
            <div>
              Dashboard
            </div>
          </div>
          <div class="app-sidebar-icon-label">
            <div>
              <app-notification-icon></app-notification-icon>
            </div>
            <div>
              Notification
            </div>
          </div>
          <div class="app-sidebar-icon-label">
            <div>
              <app-matrimony-icon></app-matrimony-icon>
            </div>
            <div>
              Matrimony
            </div>
          </div>
          <div class="app-sidebar-icon-label">
            <div>
              <app-events-icon></app-events-icon>
            </div>
            <div>
              Events
            </div>
          </div>
          <div class="app-sidebar-icon-label">
            <div>
              <app-membership-icon></app-membership-icon>
            </div>
            <div>
              Membership
            </div>
          </div>
          <div class="app-sidebar-icon-label">
            <div>
              <app-dashboard-icon></app-dashboard-icon>
            </div>
            <div>
              Help Desk
            </div>
          </div>
          <div class="app-sidebar-icon-label">
            <div>
              <app-dashboard-icon></app-dashboard-icon>
            </div>
            <div>
              Chatting
            </div>
          </div>
          <div class="app-sidebar-icon-label">
            <div>
              <app-dashboard-icon></app-dashboard-icon>
            </div>
            <div>
              Settings
            </div>
          </div>
        </div>
        
        
        <section class="profile-completion">
          <h3 class="profile-title">Complete Profile</h3>
          <div class="progress-bar">
            <div class="progress-fill"></div>
          </div>
          <p class="profile-status">Your profile was done with 20%</p>
          <p class="profile-action">Complete your profile now</p>
        </section>
        </div>



        <div class="dashboard-right-section">
          
        <div class="overview-text">Overview</div>
        <div class="user-payment-manage">
          <div class="user-payment">
            <div class="user-payment-div">
                Users
            </div>
            <div class="user-payment-div">
                Payment
            </div>
            <div class="user-payment-div">
                Transactions
            </div>
           </div>







        <div class="manage-user-div">
          <div>Manage Users</div>
          <div class="card">
            <p-toast />
            <p-toolbar styleClass="mb-4 gap-2">
                <ng-template pTemplate="left">
                    <p-button
                        severity="success" 
                        label="New" 
                        icon="pi pi-plus" 
                        class="mr-2" 
                        (onClick)="openNew()" />
                    <p-button
                        severity="danger" 
                        label="Delete" 
                        icon="pi pi-trash" 
                        (onClick)="deleteSelectedProducts()" 
                        [disabled]="!selectedProducts || !selectedProducts.length" />
                </ng-template>
        
                <ng-template pTemplate="right">
                    <p-fileUpload 
                        mode="basic" 
                        accept="image/*" 
                        [maxFileSize]="1000000" 
                        label="Import" 
                        chooseLabel="Import" 
                        class="mr-2 inline-block" />
                    <p-button
                        severity="help" 
                        label="Export" 
                        icon="pi pi-upload" />
                </ng-template>
            </p-toolbar>
        
            <p-table
                #dt
                [value]="products"
                [rows]="10"
                [paginator]="true"
                [globalFilterFields]="['name', 'country.name', 'representative.name', 'status']"
                [tableStyle]="{ 'min-width': '75rem' }"
                [(selection)]="selectedProducts"
                [rowHover]="true"
                dataKey="id"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                [showCurrentPageReport]="true"
            >
                <ng-template pTemplate="caption">
                    <div class="flex align-items-center justify-content-between">
                        <h5 class="m-0">Manage Products</h5>
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input 
                                pInputText 
                                type="text" 
                                (input)="filterGlobal($event)"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th style="width: 4rem">
                            <p-tableHeaderCheckbox />
                        </th>
                        <th pSortableColumn="name" style="min-width:15rem">
                            Name <p-sortIcon field="name" />
                        </th>
                        <th>
                            Image
                        </th>
                        <th pSortableColumn="price">
                            Price <p-sortIcon field="price" />
                        </th>
                        <th pSortableColumn="category" style="min-width:10rem">
                            Category <p-sortIcon field="category" />
                        </th>
                        <th pSortableColumn="rating">
                            Reviews <p-sortIcon field="rating" />
                        </th>
                        <th pSortableColumn="inventoryStatus" style="min-width:10rem">
                            Status <p-sortIcon field="inventoryStatus" />
                        </th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>
                            <p-tableCheckbox [value]="product" />
                        </td>
                        <td>
                            {{ product.name }}
                        </td>
                        <td>
                        <img 
                            [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" 
                            [alt]="product.name" 
                            width="50" 
                            class="shadow-4" />
                        </td>
                        <td>
                            {{ product.price | currency : 'USD' }}
                        </td>
                        <td>
                            {{ product.category }}
                        </td>
                        <td>
                            <p-rating 
                                [(ngModel)]="product.rating" 
                                [readonly]="true" 
                                [cancel]="false" />
                        </td>
                        <td>
                            <p-tag 
                                [value]="product.inventoryStatus" 
                                [severity]="getSeverity(product.inventoryStatus)" />
                        </td>
                        <td>
                            <p-button 
                                icon="pi pi-pencil" 
                                class="mr-2" 
                                [rounded]="true" 
                                [outlined]="true" 
                                severity="success" 
                                (onClick)="editProduct(product)" />
                            <p-button 
                                icon="pi pi-trash" 
                                severity="danger" 
                                [rounded]="true" 
                                [outlined]="true" 
                                (onClick)="deleteProduct(product)" />
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="flex align-items-center justify-content-between">
                        In total there are {{ products ? products.length : 0 }} products.
                    </div>
                </ng-template>
            </p-table>
        
            <p-dialog 
                [(visible)]="productDialog" 
                [style]="{ width: '450px' }" 
                header="Product Details" 
                [modal]="true" 
                styleClass="p-fluid">
                    <ng-template pTemplate="content">
                        <img 
                            [src]="'https://primefaces.org/cdn/primeng/images/demo/product/' + product.image" 
                            [alt]="product.image" 
                            class="block m-auto pb-3" 
                            *ngIf="product.image" />
                        <div class="field">
                            <label for="name">Name</label>
                            <input 
                                type="text" 
                                pInputText 
                                id="name" 
                                [(ngModel)]="product.name" 
                                required 
                                autofocus />
                            <small class="p-error" *ngIf="submitted && !product.name">
                                Name is required.
                            </small>
                        </div>
                        <div class="field">
                            <label for="description">Description</label>
                            <textarea 
                                id="description" 
                                pInputTextarea 
                                [(ngModel)]="product.description" 
                                required 
                                rows="3" 
                                cols="20">
                            </textarea>
                        </div>
        
                        <div class="field">
                            <label for="inventoryStatus">Inventory Status</label>
                            <p-dropdown 
                                [(ngModel)]="product.inventoryStatus" 
                                inputId="inventoryStatus" 
                                [options]="statuses">
                                    <ng-template pTemplate="selectedItem">
                                        <p-tag 
                                            [value]="product.inventoryStatus?.toUpperCase()"
                                            [severity]="getSeverity(product.inventoryStatus?.toUpperCase())" />
                                    </ng-template>
                                    <ng-template let-option pTemplate="item">
                                        <p-tag 
                                            [value]="option.label" 
                                            [severity]="getSeverity(option.label)" />
                                    </ng-template>
                            </p-dropdown>
                        </div>
        
                        <div class="field">
                            <label class="mb-3">Category</label>
                            <div class="formgrid grid">
                                <div class="field-radiobutton col-6">
                                    <p-radioButton 
                                        id="category1" 
                                        name="category" 
                                        value="Accessories" 
                                        [(ngModel)]="product.category" />
                                    <label for="category1">Accessories</label>
                                </div>
                                <div class="field-radiobutton col-6">
                                    <p-radioButton 
                                        id="category2" 
                                        name="category" 
                                        value="Clothing" 
                                        [(ngModel)]="product.category" />
                                    <label for="category2">Clothing</label>
                                </div>
                                <div class="field-radiobutton col-6">
                                    <p-radioButton 
                                        id="category3" 
                                        name="category" 
                                        value="Electronics" 
                                        [(ngModel)]="product.category" />
                                    <label for="category3">Electronics</label>
                                </div>
                                <div class="field-radiobutton col-6">
                                    <p-radioButton 
                                        id="category4" 
                                        name="category" 
                                        value="Fitness" 
                                        [(ngModel)]="product.category" />
                                    <label for="category4">Fitness</label>
                                </div>
                            </div>
                        </div>
        
                        <div class="formgrid grid">
                            <div class="field col">
                                <label for="price">Price</label>
                                <p-inputNumber 
                                    id="price" 
                                    [(ngModel)]="product.price" 
                                    mode="currency" 
                                    currency="USD" 
                                    locale="en-US" />
                            </div>
                            <div class="field col">
                                <label for="quantity">Quantity</label>
                                <p-inputNumber 
                                    id="quantity" 
                                    [(ngModel)]="product.quantity" />
                            </div>
                        </div>
                    </ng-template>
        
                    <ng-template pTemplate="footer">
                        <p-button 
                            label="Cancel" 
                            icon="pi pi-times" 
                            [text]="true" 
                            (onClick)="hideDialog()" />
                        <p-button
                            label="Save" 
                            icon="pi pi-check" 
                            [text]="true" 
                            (onClick)="saveProduct()" />
                    </ng-template>
            </p-dialog>
        
            <p-confirmDialog [style]="{ width: '450px' }" />
        </div>
        
        </div>








        

    </div>
     
     
    
    
    
    
    
    
    
    
    
    
    
    <!-- <section class="search-bar-container">
        <form class="search-input-wrapper" role="search">
          <label for="search-input" class="visually-hidden">Search keywords, jobs, sales</label>
          <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/3210d1913965940e6b4e8e84c62fa10d143c5e576221ebe4b49ead27ca5af006?placeholderIfAbsent=true&apiKey=9e16588387084fb2a9a51a1b99489136" alt="" class="search-icon" />
          <input type="text" id="search-input" class="search-placeholder" placeholder="Search keywords, jobs, sales" aria-label="Search keywords, jobs, sales" />
        </form>
        <div class="action-buttons-wrapper">
          <div class="vertical-divider" role="separator" aria-hidden="true"></div>
          <button class="action-button" aria-label="Filter">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/284016fbdc7d307b66c39fb8be816588c6584ff3132a6ca447834558184941d5?placeholderIfAbsent=true&apiKey=9e16588387084fb2a9a51a1b99489136" alt="" />
          </button>
          <button class="action-button" aria-label="Notifications">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/f4446ef996af489bab1b26722ed43ef989ca572f9a9d8c7a2510697a7ec97b8c?placeholderIfAbsent=true&apiKey=9e16588387084fb2a9a51a1b99489136" alt="" />
          </button>
          <button class="action-button" aria-label="User profile">
            <img src="https://cdn.builder.io/api/v1/image/assets/TEMP/b19a5a8d7b38022b3ce2a9c1b216315db76c7c76756dbcbb9f69689cb4e5383d?placeholderIfAbsent=true&apiKey=9e16588387084fb2a9a51a1b99489136" alt="" />
          </button>
        </div>
      </section> -->
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    <!-- <button type="button" class="btn btn-primary" (click)="openModal(content)">
        Launch demo modal
      </button>
      
      Modal -->
      <!-- <ng-template #content let-modal>
        <div class="modal-header">
          <h4 class="modal-title" id="modal-basic-title">Modal title</h4>
          <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
        </div>
        <div class="modal-body">
          Modal body content goes here.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="modal.close('Save click')">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </ng-template>
      </section>  -->